<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="../css/Style.css" rel="stylesheet" type="text/css">
    
    <title>Registrar Producto</title>

</head>
<body>
    <div class="Panelheader">
        <span>SISTEMA DE GESTIÓN DE TIENDAS</span>
    </div>

    <div class="PanelContenedor bg-light m-2 rounded" >
        <div class="PanelHeaderContenedor mb-5">
            <span class="title-PanelHeaderContenedor">Registrar Producto</span>
        </div>
        <form>
            <div class="form-group">
                <label for="txtNombreProducto" >Nombre Producto</label>
                <input type="text" class="form-control" id="txtNombreProducto" > 
            </div>
            <div class="form-group">
                <label for="txtDescripcionProducto" >Descripción Producto</label>
                <input type="text" class="form-control" id="txtDescripcionProducto">
            </div>
            <div class="form-group">
                <label for="txtCostoProducto" >Costo Producto</label>
                <input type="number" class="form-control" id="txtCostoProducto">
            </div>
            <div class="form-group">
                <label for="txtCantidadProducto" >Cantidad Producto</label>
                <input type="number" class="form-control" id="txtCantidadProducto" >
            </div>
            <div class="form-group">
                <label for="txtPrecioProducto" >Precio Producto</label>
                <input type="number" class="form-control" id="txtPrecioProducto" >
            </div>
            <button type="button" class="btn btn-primary" id="btnSave">Save</button>
            
            <div id="divAlert" role="alert" style="display: none;" >
                <span class="d-block text-right" onclick="this.parentElement.style.display='none';">&times;</span>
                <span id="spMsg"></span>                                                           
            </div>
        </form>
    </div>

    <script type="text/javascript" src="../scripts/RegistrarProducto.js" > </script>
</body>
</html>